.wrapper {
  display: flex;
  flex-direction: row;

  gap: var(--space-m-l);

  overflow: hidden;
}

.wrapper>* {
  flex: 1;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  isolation: isolate;
}

.leftWrapper {
  max-inline-size: 35rem;
  width: 100%;
}

.left p {
  font-size: var(--fs-1);

  margin-block-start: var(--space-m);
  margin-block-end: var(--space-l);
  letter-spacing: 0.25px;

  color: var(--ld-text-muted);
}

.right img {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
  object-position: center;
}

.btnWrapper {
  display: flex;
  align-items: center;

  gap: var(--space-m);
}