.form {
  margin-block-start: var(--space-l);

  display: flex;
  flex-direction: column;

  gap: var(--space-m);
}

.form>button {
  inline-size: 100%;
  max-inline-size: unset;
}

.additionalActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.additionalActions a {
  font-weight: 500;
}

.checkboxLabel {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: var(--space-2xs);
}

.checkbox {
  inline-size: 1.125rem;
  block-size: 1.125rem;
  accent-color: var(--ld-primary);
  cursor: pointer;

  position: relative;
  top: -0.75px;
}