.orb {
  position: absolute;
  background-color: var(--ld-text);
  opacity: 0.5;
  filter: blur(12px);

  border-radius: 50%;
}

.orb.small {
  width: 4rem;
  height: 4rem;
}

.orb.medium {
  width: 8rem;
  height: 8rem;
}

.orb.large {
  width: 12rem;
  height: 12rem;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: 50%;
  translate: -50% 0;
}

.top-right {
  top: 0;
  right: 0;
}

.center-left {
  top: 50%;
  left: 0;
  translate: 0 -50%;
}

.center {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.center-right {
  top: 50%;
  right: 0;
  translate: 0 -50%;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}