.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-m);
}

.authWrapper {
  max-inline-size: 22.5rem;
  inline-size: 100%;
}

.logo {
  max-inline-size: 15rem;

  margin-inline: auto;
}

.titleGroup {
  display: flex;
  flex-direction: column;

  text-align: center;

  gap: var(--space-xs);

  margin-block-start: var(--space-s);
  margin-block-end: var(--space-m);
}

.title {
  font-size: var(--fs-2);
  font-weight: 600;
  line-height: 32px;
}

.subTitle {
  color: var(--ld-text-muted);
}

.menuList {
  display: flex;
  background-color: var(--ld-accent-background);
  color: var(--ld-accent-text);

  min-block-size: 2.5rem;
  block-size: 2.5rem;

  border-radius: 6px;

  position: relative;
  overflow: hidden;
}

.menuButton {
  inline-size: 100%;
  block-size: 100%;

  flex: 1;

  position: relative;
  z-index: 1;

  font-weight: 600;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.menuButton.active {
  color: var(--ld-on-primary);
}

.menuButton:not(.active):hover {
  background-color: var(--ld-selection);
}

.menuButton:focus-visible {
  outline: 3px solid var(--ld-focus);
  outline-offset: -3px;
}

.menuActiveBg {
  position: absolute;

  inline-size: 50%;
  block-size: 100%;

  background-color: var(--ld-primary);


  pointer-events: none;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.additionalAction {
  margin-block-start: var(--space-l);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;
}

.additionalAction button {
  font-weight: 600 !important;
}